h1 {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 36px;
}
h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
}
h3 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
}
li {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}
#imagen {

    align-content: center;
}
.caja {
    margin: 5px;
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    border: solid 1px;
    background-color: lightseagreen;
}
.itemCaja
{
    border: solid 1px;
    margin: 5px;
    padding: 5px;
    background-color: cadetblue;
}
#parrafo {
    font-family: Arial, Helvetica, sans-serif;
    margin: 10px;
    padding: 10px;
}
#pie {
    position: fixed;
    bottom: 5px;
    right: 5px;
    border: solid 1px;
    background-color: darkorange;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
}