    <div class="container-fluid">
        <div class="row align-items-center hero">
            <div class="col-lg-3 offset-lg-7">
                <p>Bajada</p>
                <h1>El Creador Carpintería y Ebanistería</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat, nihil ab. Quos laudantium odio officiis repellat, aspernatur rerum suscipit possimus, ab atque alias fugiat esse, temporibus reprehenderit quod hic repellendus.</p>

            </div>
        </div>
    </div>