    <div class="container-fluid">
        <div class="row align-items-center hero">
            <div class="col-3 mx-3">
                <div class="card" style="width: 18rem;">
                    <img src="images/Mauro.jpg" class="card-img-top" alt="...">
                    <h2 class="card-title">Mauro</h2>
                    <div class="card-body">
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus, impedit
                            iusto asperiores quibusdam non id animi odio dolorem mollitia architecto ratione dignissimos
                            est! Velit hic, est iure cum ratione perspiciatis.</p>
                    </div>
                </div>
            </div>
            <div class="col-3 mx-3">
                <div class="card" style="width: 18rem;">
                    <img src="images/Pehuen.jpg" class="card-img-top" alt="...">
                    <h2 class="card-title">Pehuen</h2>
                    <div class="card-body">
                        <p class="card-text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Accusantium
                            laboriosam veritatis eaque, quisquam nulla eum facere vitae aspernatur facilis quo cum iure
                            quis ut, eius magnam alias repudiandae?</p>
                    </div>
                </div>
            </div>
            <div class="col-5 mx-3">
                <div class="container-fluid FondoHistoria">
                    <h1>Nuestra historia</h1>
                <div class="clearfix">
                    <img src="images/Taller.jpg" class="col-md-6 float-md-end mb-3 ms-md-3" alt="...">
                  
                    <p>
                      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Qui vero optio at veritatis molestias sed iste obcaecati voluptatum repellat? Quibusdam delectus laudantium quaerat? Distinctio repudiandae est nihil facere, maxime itaque.
                    </p>
                  
                    <p>
                      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Accusamus dolor dolorum nostrum laudantium eos tenetur quaerat voluptas nisi iusto! Fuga id mollitia earum asperiores facere quae ut expedita molestiae maxime?
                    </p>
                  
                    <p>
                      Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus, aliquam eveniet. Quae unde quisquam sequi sint inventore voluptatem velit neque, dolor soluta necessitatibus voluptatum eum, illo ex voluptate, maiores veniam.
                    </p>
                  </div>
                </div>
            </div>
        </div>
    </div>